<div class="body">
  <div class="container" id="container">
    <div *ngIf="page" class="form-container sign-in-container">
      <form [formGroup]="loginForm">
        <h1>Sign in</h1>
        <div class="mb-1">
          <!-- <label for="formGroupExampleInput" class="form-label">User Name</label> -->
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            formControlName="user"
            placeholder="User ID*"
            [ngClass]="{'invalid-input': (user.invalid && (user.dirty || user.touched))}"
          />
        </div>
        <div class="mb-1">
          <!-- <label for="formGroupExampleInput2" class="form-label">Password</label> -->
          <input
            type="password"
            class="form-control"
            id="formGroupExampleInput2"
            formControlName="password"
            placeholder="Password*"
            [ngClass]="{'invalid-input': (password.invalid && (password.dirty || password.touched))}"
          />
        </div>
        <button class="mb-1 btn" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Sign In
        </button>
        <span class="forget-password" (click)="flipPage(false)">Forget Password?</span>
      </form>
    </div>

    <div *ngIf="!page" class="form-container sign-in-container">
      <form [formGroup]="passwordReset">
        <h1>Forget Password</h1>
        <div class="mb-1">
          <!-- <label for="formGroupExampleInput" class="form-label">User Name</label> -->
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            formControlName="email"
            placeholder="Email ID*"
          />
        </div>
        <button class="mb-1 btn" type="submit" (click)="checkEmail()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Reset
        </button>
        <span class="forget-password" (click)="flipPage(true)">Back To Sign In</span>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1 class="logo">G</h1>
          <p class="gems">Gopal Gems</p>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" type="submit" id="signUp" (click)="redirectToSignup()">
            Sign Up
          </button>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="snackbar" id="snackbar">{{message}}</div>
