<div class="body">
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form [formGroup]="loginForm">
			<h1>Sign in</h1>
			<input type="email" placeholder="User Name" formControlName="user"/>
            <span class="validationText" *ngIf="user.invalid && (user.dirty || user.touched)">
                Email is required*
            </span>
            
			<input type="password" placeholder="Password" formControlName="password"/>
            <span class="validationText" *ngIf="password.invalid && (password.dirty || password.touched)">
                Password is required*
            </span>


			<a href="#">Forgot your password?</a>
			<button [disabled]="!loginForm.valid" (click)="onSubmit()">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1 class="logo">G</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" (click)="redirectToSignup()">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>