<select
  [(ngModel)]="selectenquirys"
  (change)="fetchenquiryOnSelection()"
  class="form-select form-select-sm m-2 w-auto"
  aria-label=".form-select-sm example"
>
  <option value="Pending">Pending Enquiries</option>
  <option value="Resolved">Resolved Enquiries</option>
</select>

<h2 *ngIf="enquiryDetails?.length == 0" class="text-center">
  No {{ selectenquirys }} Enquiries Found
</h2>

<div class="row">
  <div class="col-md-3" *ngFor="let data of enquiryDetails">
    <div class="card m-2 shadow">
      <div class="card-body">
        <h5 class="card-title fw-bold">Enquiry ID: {{ data.enquiryId }}</h5>
        <p class="card-text">
          Customer Name: <span>{{ data.user.name }}</span>
        </p>
        <p class="card-text">
          Company Name: <span>{{ data.user.companyName }}</span>
        </p>
        <p class="card-text">
          Email: <span>{{ data.user.email }}</span>
        </p>
        <p class="card-text">
          Contact No: <span>{{ data.user.contactNo }}</span>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Customer Remarks: <span>{{ data.remark }}</span>
        </li>
      </ul>
      <div class="card-footer">
        <small class="text-muted"
          >Placed On: {{ data.createdAt | date: "medium" }}</small
        >

        <div *ngIf="data.status == 'Pending'">
          <button
            type="button"
            class="btn btn-sm btn-primary mx-1 float-end"
            (click)="actionenquiry('Resolved', data._id)"
          >
          <i class="fa fa-check mx-1" aria-hidden="true"></i>Resolved
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ctn" *ngIf="loader">
  <div id="loader"></div>
</div>
