<h2 class="text-center h2" *ngIf="diamondData?.length == 0">
  Cart is Empty
</h2>

<div *ngIf="!loader && diamondData?.length != 0" class="p-2 m-1 " style="width: 100%">
    <button type="button" (click)="removeItemFromCart()" class="btn btn-sm btn-outline-danger m-1">
        <i class="fa fa-remove me-2"></i><span>Delete</span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="placeOrder()">
      Place Order
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary m-1" (click)="emptyCart()">
      Empty Cart
    </button>
</div>

<div *ngIf="!loader" class="container">
  <div class="row cards">
    <div
      class="col-lg-4 col-md-6 col-sm-12"
      *ngFor="let data of diamondData; let i = index"
      (click)="fetchCardDetails($event,data._id)"
    >
      <div class="card card-margin" [ngClass]="data.selected ? 'select' : ''">
        <div class="card-body pt-0">
          <div class="widget-49">
            <div class="widget-49-title-wrapper m-1">
              <div class="widget-49-date-primary" (click)="selectCard($event,i)">
                <span class="widget-49-date-day">{{ data.Carat }}</span>
                <span class="widget-49-date-month fw-bold">carat</span>
              </div>
              <div class="widget-49-meeting-info">
                <span class="widget-49-pro-title text-start">
                  <span>{{ data.stockNo }}</span>
                  <span style="font-weight: 500; margin-left: 0.5rem">
                    {{ data.Shape }}
                  </span>
                  <span style="margin-left: 0.6rem" class="fw-bold">
                    {{ data.Rap }}
                  </span>
                  <span style="margin-left: 0.6rem" class="fw-bold end-item">
                    {{ data.pr_ct | currency }}/CT
                  </span>
                </span>
                <hr />
                <span class="widget-49-meeting-time text-start"
                  ><span class="fw-bold">
                    {{ data.Color }}
                    {{ data.Clarity }}&nbsp;
                    {{ data.Cut }}
                    {{ data.Polish }}
                    {{ data.Symmetry }}&nbsp; {{ data.Fluorescent }}&nbsp;
                  </span>
                  {{ data.LAB }}&nbsp;
                  <span class="end-item">{{ data.Measurement }}</span>
                </span>
                <hr />
                <span class="widget-49-meeting-time text-start">
                  Lustor &nbsp; Tab: {{ data.Tab }}% &nbsp; TD: {{ data.TD }}%
                  &nbsp;
                  <span class="end-item">Ratio: {{ data.Ratio }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ctn" *ngIf="loader">
  <div id="loader"></div>
</div>

<div id="snackbar" class="snackbar">{{message}}</div>

