<div id="ctn" *ngIf="loader">
  <div id="loader"></div>
</div>

<app-alert [message]="message" [show]="showAlert" [type]="success"></app-alert>

<div class="p-2 m-1" style="width: 100%">
  <button
    type="button"
    (click)="backPage()"
    class="btn btn-sm btn-outline-secondary m-1"
  >
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary m-1 float-right"
    (click)="addToCart()"
  >
    Add To Cart
  </button>
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary m-1 float-right"
    (click)="placeOrder()"
  >
    Place Order
  </button>
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary m-1 float-right"
    (click)="openModal()"
  >
    Enquiry
  </button>
</div>
<div class="container-fluid" *ngIf="!loader">
  <div class="detail-container rounded row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-7 col-sm-12 border rounded shadow m-2 text-center">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="nav nav-tabs mt-1">
              <li class="nav-item">
                <a
                  class="nav-link pill active image"
                  (click)="FlipImage('image')"
                  >Image</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link pill video" (click)="FlipImage('video')"
                  >Video</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link pill gia" (click)="FlipImage('gia')"
                  >Certificate</a
                >
              </li>
            </ul>
            <img
              class="m-2 rounded"
              *ngIf="selectedImage == 'image'"
              src="https://d3at7kzws0mw3g.cloudfront.net/images/diamond/214100-34.jpg"
              alt=""
            />
            <iframe
              class="m-2"
              style="width: 100%; height: 400px"
              scrolling="no"
              *ngIf="selectedImage == 'video'"
              src="https://d3at7kzws0mw3g.cloudfront.net/video/Vision360.html?d=214178-185"
              frameborder="0"
            ></iframe>
            <img
              *ngIf="selectedImage == 'gia'"
              src="https://d3at7kzws0mw3g.cloudfront.net/MaskLabreportno/3F6766AF-06E4-4AC7-B8A5-A184B32B579E.jpg"
              alt=""
            />
          </div>
        </div>

        <div class="col-md-4 mt-1">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-margin shadow">
              <div class="card-body pt-0">
                <div class="widget-49">
                  <div class="widget-49-title-wrapper m-1">
                    <div class="widget-49-date-primary">
                      <span class="widget-49-date-day">{{
                        diamondDetail?.Carat
                      }}</span>
                      <span class="widget-49-date-month fw-bold">carat</span>
                    </div>
                    <div class="widget-49-meeting-info">
                      <span class="widget-49-pro-title text-start">
                        <span>{{ diamondDetail?.stockNo }}</span>
                        <span style="font-weight: 500; margin-left: 0.5rem">
                          {{ diamondDetail?.Shape }}
                        </span>
                        <span style="margin-left: 0.6rem" class="fw-bold">
                          {{ diamondDetail?.Rap }}
                        </span>
                        <span
                          style="margin-left: 0.6rem"
                          class="fw-bold end-item"
                        >
                          {{ diamondDetail?.pr_ct | currency }}/CT
                        </span>
                      </span>
                      <hr />
                      <span class="widget-49-meeting-time text-start"
                        ><span class="fw-bold">
                          {{ diamondDetail?.Color }}
                          {{ diamondDetail?.Clarity }}
                          {{ diamondDetail?.Cut }}
                          {{ diamondDetail?.Polish }}
                          {{ diamondDetail?.Symmetry }}
                          {{ diamondDetail?.Fluorescent }}
                        </span>
                        {{ diamondDetail?.LAB }}&nbsp;
                        <span class="end-item">{{
                          diamondDetail?.Measurement
                        }}</span>
                      </span>
                      <hr />
                      <span class="widget-49-meeting-time text-start">
                        Lustor &nbsp; Tab: {{ diamondDetail?.Tab }}% &nbsp; TD:
                        {{ diamondDetail?.TD }}% &nbsp;
                        <span class="end-item"
                          >Ratio: {{ diamondDetail?.Ratio }}</span
                        >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 mt-3 rounded border shadow">
            <h4 class="fw-bold text-center">Inclusion Details</h4>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>BT</td>
                  <td>WT</td>
                  <td>BC</td>
                  <td>WC</td>
                </tr>
                <tr class="fw-bold">
                  <td>{{ diamondDetail?.BIT }}</td>
                  <td>{{ diamondDetail?.WT }}</td>
                  <td>{{ diamondDetail?.BC }}</td>
                  <td>{{ diamondDetail?.WC }}</td>
                </tr>
                <tr>
                  <td>OT</td>
                  <td>OC</td>
                  <td>OP</td>
                  <td>Milky</td>
                </tr>
                <tr class="fw-bold">
                  <td>{{ diamondDetail?.OPTA }}</td>
                  <td>{{ diamondDetail?.OPCR }}</td>
                  <td>{{ diamondDetail?.OPPV }}</td>
                  <td>{{ diamondDetail?.MILKY }}</td>
                </tr>
                <tr>
                  <td>Lus</td>
                  <td>EC</td>
                  <td>Col Shade</td>
                  <td>H & A</td>
                </tr>
                <tr class="fw-bold">
                  <td>{{ diamondDetail?.BIT }}</td>
                  <td>{{ diamondDetail?.EC }}</td>
                  <td>{{ diamondDetail?.ColorShade }}</td>
                  <td>{{ diamondDetail?.HA ? diamondDetail?.HA : "-" }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            class="col-lg-12 col-md-12 col-sm-12 mt-3 rounded border shadow details-card additional-info"
          >
            <h4 class="fw-bold text-center">Additional Info</h4>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Cert No.</td>
                  <td>Table(%)</td>
                  <td>TD(%)</td>
                  <td>Measurement</td>
                </tr>
                <tr class="fw-bold">
                  <td>{{ diamondDetail?.stockNo }}</td>
                  <td>{{ diamondDetail?.Tab }}</td>
                  <td>{{ diamondDetail?.TD }}</td>
                  <td>{{ diamondDetail?.Measurement }}</td>
                </tr>
                <tr>
                  <td>Ratio</td>
                  <td>Location</td>
                  <td>Girdle(%)</td>
                  <td>Pv Ang</td>
                </tr>
                <tr class="fw-bold">
                  <td>{{ diamondDetail?.Ratio }}</td>
                  <td>{{ diamondDetail?.Location }}</td>
                  <td>{{ diamondDetail?.Girdle }}</td>
                  <td>{{ diamondDetail?.PVANG }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  [hidden]="true"
  id="openModalButton"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Open Modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  #myModal
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enquiry</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          class="form-control"
          (ngModelChange)="enquiryComment($event)"
          id="exampleFormControlTextarea1"
          [(ngModel)]="enquireRemark"
          placeholder="Remarks"
          rows="3"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="closeModal"
          class="btn btn-sm btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          (click)="enquireNow()"
          [disabled]="enquireButton"
          class="btn btn-sm btn-primary"
        >
          Enquire Now
        </button>
      </div>
    </div>
  </div>
</div>
