
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.cdnfonts.com/css/vivaldi');

*,h1{
    font-family: 'Montserrat', sans-serif;
}

.logo{
    font-family: 'Vivaldi', sans-serif;
    font-size: 85px;
	padding-top: 50%;  
}

h4{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}

.ghost {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 5px;
}

.ghost:active {
	transform: scale(0.95);
}

.ghost:focus {
	outline: none;
}

.ghost{
	background-color: transparent;
	border-color: #FFFFFF;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #FF4B2B; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
  }

  .overlay-panel{
	background: #FF416C;
	background: -webkit-linear-gradient(to right, gray, black);
	background: linear-gradient(to right, gray, black);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
    text-align: center;
    align-items: center;
    color: white;
  }

  p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 65px 0 30px;
}
  
  /* Show the snackbar when clicking on a .ghost (class added with JavaScript) */
  #snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

  @media only screen and (max-width: 768px){
	  .logo{
		padding-top: 25px;
	  }
  }