<app-back-button></app-back-button>
<div class="row">
  <div class="col-md-8">
    <form class="row g-3 m-4" [formGroup]="loginForm">
      <h4>Personal Information</h4>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">First Name*</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          formControlName="firstName"
        />
        <div
          id="firstName"
          *ngIf="
            (firstName.touched || firstName.dirty) &&
            firstName.invalid
          "
          class="form-text"
        >
          <span *ngIf="firstName.errors.required">Required*</span>
        </div>
      </div>

      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        />
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email*</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="abc@abc.com"
          formControlName="email"
        />
        <div
          id="email"
          *ngIf="(emailText.touched || emailText.dirty) && emailText.invalid"
          class="form-text"
        >
          <span *ngIf="emailText.errors.required">Required*</span>
          <span *ngIf="emailText.errors.email">Not a valid email*</span>
        </div>
      </div>

      <div class="col-md-6">
        <label for="password" class="form-label">Password*</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          aria-describedby="password"
        />
      </div>

      <div class="col-md-6">
        <label for="confirmPassword" class="form-label"
          >Confirm Password*</label
        >
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <div
          id="password"
          *ngIf="
            (confirmPassword.touched || confirmPassword.dirty) &&
            confirmPassword.invalid
          "
          class="form-text"
        >
          <span *ngIf="confirmPassword.errors.required">Required*</span>
          <span *ngIf="confirmPassword.errors.mustMatch"
            >Password and Confirm Password must match*</span
          >
        </div>
      </div>

      <div class="col-2">
        <label for="countryCode" class="form-label">Code*</label>
        <select
          id="countryCode"
          class="form-select"
          formControlName="countryCode"
        >
          <option selected disabled>Choose...</option>
          <option *ngFor="let info of contactCode" value="{{info.dial_code}}">
            {{ info.name }} ({{ info.dial_code }})
          </option>
        </select>
      </div>

      <div class="col-10">
        <label for="contactNo" class="form-label">Contact*</label>
        <input
          type="text"
          class="form-control"
          id="contactNo"
          placeholder="00000 00000"
          (keypress)="numberOnly($event)"
          formControlName="contactNo"
        />
      </div>

      <h4>Business Information</h4>

      <div class="col-12">
        <label for="companyName" class="form-label">Company Name*</label>
        <input
          type="text"
          class="form-control"
          id="companyName"
          placeholder="ABC Ltd"
          formControlName="companyName"
        />
      </div>

      <div class="col-12">
        <label for="businessType" class="form-label">Business Type*</label>
        <select
          id="businessType"
          class="form-select"
          formControlName="businessType"
        >
          <option selected disabled>Choose...</option>
          <option
            *ngFor="let type of businessType"
            value="{{ type }}"
          >
            {{ type }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="country" class="form-label">Country*</label>
        <select
          id="country"
          class="form-select"
          formControlName="country"
          (change)="selectStatesByCountry($any($event.target).value)"
        >
          <option selected disabled>Choose...</option>
          <option
            *ngFor="let country of countries"
            value="{{ country.isoCode }}"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="state" class="form-label">State*</label>
        <select
          id="state"
          class="form-select"
          (change)="selectCitiesByState($any($event.target).value)"
          formControlName="state"
        >
          <option selected disabled>Choose...</option>
          <option *ngFor="let state of states" value="{{ state.isoCode }}">
            {{ state.name }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="city" class="form-label">City</label>
        <select
          id="city"
          class="form-select"
          formControlName="city"
        >
          <option selected disabled>Choose...</option>
          <option *ngFor="let city of cities" value="{{city.name}}">
            {{ city.name }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="pincode" class="form-label">Pin Code</label>
        <input
          type="text"
          class="form-control"
          id="pincode"
          placeholder="Pin Code"
          formControlName="pincode"
        />
      </div>

      <div class="col-12">
        <label for="pincode" class="form-label">Address*</label>
        <textarea
          class="form-control"
          id="address"
          formControlName="address"
          rows="2"
          placeholder="Please specify complete address"
        ></textarea>
      </div>

      <label class="form-label">Upload ID Proof*</label>
      <file-upload formControlName="idProof" [animation]="true" ></file-upload>
      <div style="color: red;" class="form-text text-center"  *ngIf="idProof.errors?.fileSize">*File size should be less than 2MB</div>
      <div style="color: red;" class="form-text text-center"  *ngIf="idProof.errors?.fileTypes">*File should be of image format</div>

<!-- 
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck">
            Please accept Terms & Conditions
          </label>
        </div>
      </div> -->

      <app-alert [message]="message" [show]="showMessage" [type]="messageType"></app-alert>
      <div class="col-12 text-center">
        <button (click)="onSubmit()" class="btn btn-primary centre m-2">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Register
        </button>
        <button type="clear" class="btn btn-outline-primary centre m-2">
          Clear
        </button>
      </div>
    </form>

  </div>
  <div class="col-md-4" style="margin-bottom: -50px">
    <div class="overlay-panel overlay-right col-md-12">
      <h1 class="logo">G</h1>
      <p>Login To Explore wide range of diamonds with us.</p>
      <button class="ghost" id="signUp" (click)="redirectToSignin()">
        Sign In
      </button>
    </div>
  </div>
</div>

<!-- <div class="snackbar" id="snackbar">{{ message }}</div> -->
