a{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background: linear-gradient(to right, black, gray);
}

// a{
//     color: white;
// }

.navbar-brand{
    font-family: 'Vivaldi', sans-serif;
    font-size: 25px;
}

.below-section{
    padding-bottom: 45px;
    margin: 5px;
}

.Profile{
    position: absolute;
    right: 30px;
}

li{
    cursor: pointer;
}

#loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #dcefff;
    border-top: 10px solid blue;
    animation: rotate 2s infinite ease;
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 1000;
  }
  @keyframes rotate{
    0%{
      transform: none;
    }
   100%{
     transform: rotate(1turn);
     
  }}


@media only screen and (max-width: 600px) {
    .Profile{
        position: relative;
        right: 0px;
    }
}

