<div class="body" *ngIf="!loader">
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm">
        <h1 *ngIf="!wrongtoken">Reset Password</h1>
        <h1 *ngIf="wrongtoken">Link has been expired</h1>
        <div *ngIf="!wrongtoken">
          <div class="mb-1">
            <input
              type="password"
              class="form-control"
              id="formGroupExampleInput"
              formControlName="password"
              placeholder="Enter Password*"
            />
          </div>
          <div class="mb-1">
            <input
              type="password"
              class="form-control"
              id="formGroupExampleInput2"
              formControlName="confirmPassword"
              placeholder="Re-enter Password*"
            />
          </div>
          <div
            id="password"
            *ngIf="
              (confirmPassword.touched || confirmPassword.dirty) &&
              confirmPassword.invalid
            "
            class="form-text"
          >
            <span *ngIf="confirmPassword.errors.required">Required*</span>
            <span *ngIf="confirmPassword.errors.mustMatch"
              >Password and Confirm Password must match*</span
            >
          </div>

          <button class="mb-1 btn" type="submit" [disabled]="!loginForm.valid" (click)="changePassword()">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Reset
          </button>
        </div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1 class="logo">G</h1>
          <p class="gems">Gopal Gems</p>
          <p>Sign In Here</p>
          <button
            class="ghost"
            type="submit"
            id="signUp"
            (click)="redirectToSignup()"
          >
            Sign In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="snackbar" id="snackbar">{{ message }}</div>

<div id="ctn" *ngIf="loader">
  <div id="loader"></div>
</div>
