<!-- Button trigger modal -->
<button
  type="button"
  [hidden]="true"
  id="openModalButton"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button>

<select
  [(ngModel)]="selectOrders"
  (change)="fetchOrderOnSelection()"
  class="form-select form-select-sm m-2 w-auto"
  aria-label=".form-select-sm example"
>
  <option value="Pending">Pending Orders</option>
  <option value="Done">Actioned Orders</option>
</select>

<label for="businessType" class="form-label mx-2">Search By (Optional)</label>
<div class="row">
  <div class="col-6">
    <select
      id="businessType"
      class="form-select form-select-sm mx-2 w-auto"
      [(ngModel)]="selectSearchFilter"
    >
      <option *ngFor="let type of searchType" value="{{ type.value }}">
        {{ type.name }}
      </option>
    </select>
  </div>
  <div class="col-6">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control form-control-sm"
        placeholder=""
        [(ngModel)]="searchText"
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
      />
      <button type="button" class="btn btn-sm btn-dark" (click)="fetchSearchResult()">Search</button>
    </div>
  </div>
</div>

<h2 *ngIf="orderDetails?.length == 0" class="text-center">No Orders Found</h2>

<div class="row" *ngIf="orderDetails?.length != 0">
  <div class="col-md-3" *ngFor="let data of orderDetails">
    <div class="card m-2 shadow" (click)="orderDetailFetch(data)">
      <div class="card-body">
        <h5 class="card-title fw-bold">Order ID: {{ data._id }}</h5>
        <p class="card-text">
          Customer Name: <span>{{ data.user.name }}</span>
        </p>
        <p class="card-text">
          Company Name: <span>{{ data.user.companyName }}</span>
        </p>
        <p class="card-text">
          Email: <span>{{ data.user.email }}</span>
        </p>
        <p class="card-text">
          Contact No: <span>{{ data.user.contactNo }}</span>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Total Stones: <span>{{ data.diamond.length }}</span>
        </li>
        <li class="list-group-item">
          Order Total: <span>{{ data.totalAmount | currency }}</span>
        </li>
      </ul>
      <div class="card-footer">
        <small class="text-muted"
          >Placed On: {{ data.createdAt | date: "medium" }}</small
        >
      </div>
    </div>
  </div>
</div>

<div id="ctn" *ngIf="loader">
  <div id="loader"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Diamond Details</h2>
        <button
          type="button"
          id="closeModal"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Stock No</th>
              <th scope="col">Detail</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of selectedOrderDetails?.diamond; let i = index"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ data.stockNo }}</td>
              <td
                (click)="navigateToDetail(data._id)"
                style="text-decoration: underline"
              >
                Click Here
              </td>
              <td>
                <span
                  *ngIf="selectedOrderDetails.status[data._id] == 'Pending'"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-danger mx-1 float-end"
                    (click)="
                      actionOrder(
                        'Rejected',
                        selectedOrderDetails._id,
                        data._id
                      )
                    "
                  >
                    <i class="fa fa-ban mx-1" aria-hidden="true"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-success mx-1 float-end"
                    (click)="
                      actionOrder(
                        'Accepted',
                        selectedOrderDetails._id,
                        data._id
                      )
                    "
                  >
                    <i class="fa fa-check mx-1" aria-hidden="true"></i>
                  </button>
                </span>
                <span
                  *ngIf="selectedOrderDetails.status[data._id] != 'Pending'"
                  >{{ selectedOrderDetails.status[data._id] }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
