.card,
h5,
h2,
select,
table,
label {
  font-family: "Montserrat", sans-serif;
}

span {
  font-weight: bold;
}

#loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid #dcefff;
  border-top: 10px solid blue;
  animation: rotate 2s infinite ease;
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 1060;
}
@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(1turn);
  }
}
