h2,
h4,
h5,
textarea,
button,.snackbar {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

app-alert{
  position: fixed;
    z-index: 100;
    bottom: 30px;
    left: 5%;
    right: 5%;

}

.card-body {
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0.1rem 0.5rem !important;
  font-family: "Helvetica", sans-serif;
}

table {
  font-family: "Helvetica", sans-serif;
  width: 100%;
}

.card-body > i {
  color: gray;
}

.select > .card-body > i{
  color: white !important;
}

.end-item {
  float: right;
}

.btn {
  margin: 10px 0px 10px 5px;
}

body {
  background: #f4f7fd;
  margin-top: 20px;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.card .card-header.no-border {
  border: 0;
}
.card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 30px;
}
.card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.card-margin {
  margin-bottom: 0.2rem;
}

.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-primary
  .widget-49-date-day {
  color: black;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-primary
  .widget-49-date-month {
  color: gray;
  line-height: 1;
  font-size: 0.4rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfcfd;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-secondary
  .widget-49-date-day {
  color: #dde1e9;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-secondary
  .widget-49-date-month {
  color: #dde1e9;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8faf8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-success
  .widget-49-date-day {
  color: #17d1bd;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-success
  .widget-49-date-month {
  color: #17d1bd;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebf7ff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
  color: #36afff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
  color: #36afff;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: floralwhite;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-warning
  .widget-49-date-day {
  color: #ffc868;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-warning
  .widget-49-date-month {
  color: #ffc868;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #feeeef;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
  color: #f95062;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-danger
  .widget-49-date-month {
  color: #f95062;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fefeff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
  color: #f7f9fa;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-light
  .widget-49-date-month {
  color: #f7f9fa;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebedee;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
  color: #394856;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
  color: #394856;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0fafb;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
  color: #68cbd7;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
}

hr {
  margin: 0.1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
  color: #68cbd7;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: auto;
  flex-basis: 270px;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-meeting-info
  .widget-49-pro-title {
  font-size: 12px;
}

.notselected {
  color: #36454f;
}

.selected {
  color: white;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-meeting-info
  .widget-49-meeting-time {
  font-size: 12px;
}

.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 11px;
  margin-top: 0.5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  display: list-item;
  color: #727686;
  text-align: left;
}

.widget-49 .widget-49-meeting-action {
  margin-top: -15px;
  text-align: right;
}

.widget-49 .widget-49-meeting-action a {
  text-transform: uppercase;
}

.status {
  float: left;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin-top: 0rem !important;
  margin-bottom: -0.5rem;
}

.cards {
  margin-top: 20px;
}

.icon {
  color: #b1bac5;
}

.right {
  float: right;
}

.w-3 {
  height: 3rem;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid #dcefff;
  border-top: 10px solid blue;
  animation: rotate 2s infinite ease;
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1000;
}
@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(1turn);
  }
}

td {
  padding: 5px;
}

.wrapper {
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf1fc;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.select {
  background: -webkit-linear-gradient(to right, black, gray);
  background: linear-gradient(to right, black, gray);
  background-color: linear-gradient(to right, black, gray);
  color: white !important;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px darkgray;
  }
}

#presentation {
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border-radius: 10px;

  h1 {
    font-weight: 400;
  }

  h3 {
    font-weight: 400;
    color: #666;
  }
}

#presentation:hover {
  box-shadow: 0 12px 28px -5px rgba(0, 0, 0, 0.13);
  transition: all 0.3s;
  transform: translateZ(10px);
}

// #floating-button{
//   width: 55px;
//   height: 55px;
//   border-radius: 50%;
//   background: linear-gradient(to right, gray, black);;
//   position: fixed;
//   bottom: 30px;
//   right: 30px;
//   cursor: pointer;
//   box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
// }

// .plus{
//   color: white;
//   position: absolute;
//   top: 0;
//   display: block;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   text-align: center;
//   padding: 0;
//   margin: 0;
//   line-height: 55px;
//   font-size: 38px;
//   font-family: 'Roboto';
//   font-weight: 300;
//   animation: plus-out 0.3s;
//   transition: all 0.3s;
// }

// #container-floating{
//   position: fixed;
//   width: 70px;
//   height: 70px;
//   bottom: 30px;
//   right: 30px;
//   z-index: 50px;
// }

// #container-floating:hover{
//   height: 400px;
//   width: 90px;
//   padding: 30px;
// }

// #container-floating:hover .plus{
//   animation: plus-in 0.15s linear;
//   animation-fill-mode: forwards;
// }

// .edit{
//   position: absolute;
//   top: 0;
//   display: block;
//   bottom: 0;
//   left: 0;
//   display: block;
//   right: 0;
//   padding: 0;
//   opacity: 0;
//   margin: auto;
//   line-height: 65px;
//   transform: rotateZ(-70deg);
//   transition: all 0.3s;
//   animation: edit-out 0.3s;
// }

// #container-floating:hover .edit{
//   animation: edit-in 0.2s;
//    animation-delay: 0.1s;
//   animation-fill-mode: forwards;
// }

// @keyframes edit-in{
//     from {opacity: 0; transform: rotateZ(-70deg);}
//     to {opacity: 1; transform: rotateZ(0deg);}
// }

// @keyframes edit-out{
//     from {opacity: 1; transform: rotateZ(0deg);}
//     to {opacity: 0; transform: rotateZ(-70deg);}
// }

// @keyframes plus-in{
//     from {opacity: 1; transform: rotateZ(0deg);}
//     to {opacity: 0; transform: rotateZ(180deg);}
// }

// @keyframes plus-out{
//     from {opacity: 0; transform: rotateZ(180deg);}
//     to {opacity: 1; transform: rotateZ(0deg);}
// }

// .nds{
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   position: fixed;
//   z-index: 300;
//   transform:  scale(0);
//   cursor: pointer;
// }

// .nd1{
//   background: #d3a411;
//   right: 40px;
//   bottom: 120px;
//   animation-delay: 0.2s;
//     animation: bounce-out-nds 0.3s linear;
//   animation-fill-mode:  forwards;
// }

// .nd3{
//   background: #3c80f6;
//   right: 40px;
//   bottom: 180px;
//   animation-delay: 0.15s;
//     animation: bounce-out-nds 0.15s linear;
//   animation-fill-mode:  forwards;
// }

// .nd4{
//   background: red;
//   right: 40px;
//   bottom: 240px;
//   animation-delay: 0.1s;
//     animation: bounce-out-nds 0.1s linear;
//   animation-fill-mode:  forwards;
// }

// @keyframes bounce-nds{
//     from {opacity: 0;}
//     to {opacity: 1; transform: scale(1);}
// }

// @keyframes bounce-out-nds{
//     from {opacity: 1; transform: scale(1);}
//     to {opacity: 0; transform: scale(0);}
// }

// #container-floating:hover .nds{

//   animation: bounce-nds 0.1s linear;
//   animation-fill-mode:  forwards;
// }

// #container-floating:hover .nd3{
//   animation-delay: 0.08s;
// }
// #container-floating:hover .nd4{
//   animation-delay: 0.15s;
// }
// #container-floating:hover .nd5{
//   animation-delay: 0.2s;
// }

.letter {
  font-size: 23px;
  font-family: "Roboto";
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.reminder {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile {
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  #loader {
    left: 45%;
    top: 45%;
  }

  .top-card{
    width: 50px;
  }

  .h4-card{
    font-size: 10px;
  }
}

.adminActions {
  position: fixed;
  bottom: 45px;
  right: 35px;
}

.adminButton {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.adminButton i {
  font-size: 22px;
}

.adminButtons {
  position: absolute;
  width: 100%;
  bottom: 120%;
  text-align: center;
}

.adminButtons a {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  margin: 10px auto 0;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.3);
}

.adminButtons a:hover {
  transform: scale(1.05);
}

.adminButtons a:nth-child(1) {
  background-color: #ff5722;
  transition: opacity 0.2s ease-in-out 0.3s, transform 0.15s ease-in-out;
}
.adminButtons a:nth-child(2) {
  background-color: #03a9f4;
  transition: opacity 0.2s ease-in-out 0.25s, transform 0.15s ease-in-out;
}
.adminButtons a:nth-child(3) {
  background-color: red;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.15s ease-in-out;
}
.adminButtons a:nth-child(4) {
  background-color: #4caf50;
  transition: opacity 0.2s ease-in-out 0.15s, transform 0.15s ease-in-out;
}

// .adminButtons a:nth-child(5) {
//   background-color: red;
//   transition: opacity 0.2s ease-in-out 0.2s, transform 0.15s ease-in-out;
// }

.adminActions a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adminToggle {
  -webkit-appearance: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
}

.adminToggle:hover {
  box-shadow: 0 3px 6px 2px rgba(51, 51, 51, 0.3);
}

.adminToggle:checked ~ .adminButtons a {
  opacity: 1;
  visibility: visible;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
      However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
