<div *ngIf="!loader" class="row row-cols-1 row-cols-md-4 g-4 row-cols-sm-12">
  <div class="col">
    <div class="card shadow p-2">
      <div class="card-body">
        <i class="fs-4 fa fa-diamond"></i>
        <h4>New Goods</h4>
        <h2 class="card-title">{{diamondData.length}}</h2>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow p-2">
      <div class="card-body">
        <i class="fs-4 fa fa-thumbs-up"></i>
        <h4>Recommended</h4>
        <h2 class="card-title">0</h2>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow p-2">
      <div class="card-body">
        <i class="fs-4 fa fa-heart-o"></i>
        <h4>Favourite</h4>
        <h2 class="card-title">0</h2>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow p-2">
      <div class="card-body">
        <i class="fs-4 fa fa-question-circle"></i>
        <h4>Enquiry</h4>
        <h2 class="card-title">0</h2>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart m-1"></i>Add To Cart</button>
<button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-edit m-1"></i>Enquiry</button>
<button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-heart m-1"></i>Add To Wishlist</button> -->

<!-- <ag-grid-angular
    style="width: 100%; height: 70%;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="false"
    [rowMultiSelectWithClick]="true"
    [rowSelection]="rowSelection"
>
</ag-grid-angular> -->

<div *ngIf="!loader" class="w-3 border-bottom border-1 m-1">
  <h2 class="m-2 fw-bold text-center">New Goods</h2>
</div>

<div class="container">
  <div class="row cards">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let data of diamondData;let i = index" (click)="selectCard(i)">
      <div class="card card-margin" [ngClass]="data.selected ? 'select' : ''">
        <div class="card-body pt-0">
          <div class="widget-49">
            <div class="widget-49-title-wrapper m-1">
              <div class="widget-49-date-primary">
                <span class="widget-49-date-day">{{ data.Carat }}</span>
                <span class="widget-49-date-month fw-bold">carat</span>
                  
              </div>
              <div class="widget-49-meeting-info">
                <span class="widget-49-pro-title text-start">
                  <span>{{data.stockNo}}</span>
                  <span style="font-weight: 500;margin-left: 0.5rem;"> {{data.Shape}} </span>
                  <span style="margin-left: 0.6rem;" class="fw-bold"> {{data.Rap}} </span>
                  <span style="margin-left: 0.6rem;" class="fw-bold end-item"> {{data.pr_ct | currency}}/CT </span>
                </span><hr>
                <span class="widget-49-meeting-time text-start"><span class="fw-bold">
                  {{ data.Color }}
                  {{ data.Clarity }}&nbsp;
                 {{ data.Cut }}
                 {{ data.Polish }}
                 {{ data.Symmetry }}&nbsp;
                 {{ data.Fluorescent }}&nbsp;
                </span>
                 {{ data.LAB }}&nbsp;
                 <span class="end-item">{{ data.Measurement }}</span>
                 </span>
                 <hr>
                <span class="widget-49-meeting-time text-start">
                  Lustor &nbsp;
                  Tab: {{data.Tab}}% &nbsp;
                  TD: {{data.TD}}% &nbsp;
                  <span class="end-item">Ratio: {{data.Ratio}}</span>
                 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container-floating">
  <div class="nd4 nds"><img class="reminder">
    <p class="letter"><i class="fa fa-heart m-1" aria-hidden="true"></i></p>
  </div>
  
  <div class="nd3 nds">
    <img class="reminder">
    <p class="letter" ><i class="fa fa-shopping-cart m-1"></i></p>
  </div>
  
  <div class="nd1 nds">
    <p class="letter"><i class="fa fa-phone m-1"></i></p>
  </div>

  <div id="floating-button">
    <p class="plus">+</p>
    <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>
</div>


<div id="ctn" *ngIf="loader">
  <div id="loader"></div>
</div>
